[submodule "Software/DA80004_ESP32/DAX0004"]
	path = Software/third_party/DAX0004
	url = https://github.com/oclyke/DAX0004
[submodule "Software/third_party/DAC8871"]
	path = Software/third_party/DAC8871
	url = https://github.com/oclyke/DAC8871
